*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .app{
    width: 100%;
    background-color:rgb(236, 245, 236);
    padding: 2vw;
    position: relative;
} */
body{
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
    background-color:rgb(236, 245, 236);
    overflow-x: hidden;
}